---
http_interactions:
- request:
    method: get
    uri: http://www.yr.no/place/United_Kingdom/England/London/forecast_hour_by_hour.xml
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      Last-Modified:
      - Mon, 04 May 2015 10:18:39 GMT
      X-Frontendserver:
      - MADMZYRWWW07
    body:
      encoding: UTF-8
      string: "<?xml version=\"1.0\" encoding=\"utf-8\"?>\r\n<weatherdata>\r\n  <location>\r\n
        \   <name>London</name>\r\n    <type>Capital</type>\r\n    <country>United
        Kingdom</country>\r\n    <timezone id=\"Europe/London\" utcoffsetMinutes=\"60\"
        />\r\n    <location altitude=\"25\" latitude=\"51.50853\" longitude=\"-0.12574\"
        geobase=\"geonames\" geobaseid=\"2643743\" />\r\n  </location>\r\n  <credit>\r\n
        \   <!--In order to use the free weather data from yr no, you HAVE to display
        \r\nthe following text clearly visible on your web page. The text should be
        a \r\nlink to the specified URL.-->\r\n    <!--Please read more about our
        conditions and guidelines at http://om.yr.no/verdata/  English explanation
        at http://om.yr.no/verdata/free-weather-data/-->\r\n    <link text=\"Weather
        forecast from yr.no, delivered by the Norwegian Meteorological Institute and
        the NRK\" url=\"http://www.yr.no/place/United_Kingdom/England/London/\" />\r\n
        \ </credit>\r\n  <links>\r\n    <link id=\"xmlSource\" url=\"http://www.yr.no/place/United_Kingdom/England/London/forecast.xml\"
        />\r\n    <link id=\"xmlSourceHourByHour\" url=\"http://www.yr.no/place/United_Kingdom/England/London/forecast_hour_by_hour.xml\"
        />\r\n    <link id=\"overview\" url=\"http://www.yr.no/place/United_Kingdom/England/London/\"
        />\r\n    <link id=\"hourByHour\" url=\"http://www.yr.no/place/United_Kingdom/England/London/hour_by_hour\"
        />\r\n    <link id=\"longTermForecast\" url=\"http://www.yr.no/place/United_Kingdom/England/London/long\"
        />\r\n  </links>\r\n  <meta>\r\n    <lastupdate>2015-05-04T04:48:00</lastupdate>\r\n
        \   <nextupdate>2015-05-04T17:00:00</nextupdate>\r\n  </meta>\r\n  <sun rise=\"2015-05-04T05:27:40\"
        set=\"2015-05-04T20:28:00\" />\r\n  <forecast>\r\n    <tabular>\r\n      <time
        from=\"2015-05-04T12:00:00\" to=\"2015-05-04T13:00:00\">\r\n        <!-- Valid
        from 2015-05-04T12:00:00 to 2015-05-04T13:00:00 -->\r\n        <symbol number=\"1\"
        numberEx=\"1\" name=\"Clear sky\" var=\"01d\" />\r\n        <precipitation
        value=\"0\" />\r\n        <!-- Valid at 2015-05-04T12:00:00 -->\r\n        <windDirection
        deg=\"199.6\" code=\"SSW\" name=\"South-southwest\" />\r\n        <windSpeed
        mps=\"5.5\" name=\"Moderate breeze\" />\r\n        <temperature unit=\"celsius\"
        value=\"15\" />\r\n        <pressure unit=\"hPa\" value=\"1005.3\" />\r\n
        \     </time>\r\n      <time from=\"2015-05-04T13:00:00\" to=\"2015-05-04T14:00:00\">\r\n
        \       <!-- Valid from 2015-05-04T13:00:00 to 2015-05-04T14:00:00 -->\r\n
        \       <symbol number=\"1\" numberEx=\"1\" name=\"Clear sky\" var=\"01d\"
        />\r\n        <precipitation value=\"0\" />\r\n        <!-- Valid at 2015-05-04T13:00:00
        -->\r\n        <windDirection deg=\"194.9\" code=\"SSW\" name=\"South-southwest\"
        />\r\n        <windSpeed mps=\"5.5\" name=\"Moderate breeze\" />\r\n        <temperature
        unit=\"celsius\" value=\"16\" />\r\n        <pressure unit=\"hPa\" value=\"1004.8\"
        />\r\n      </time>\r\n      <time from=\"2015-05-04T14:00:00\" to=\"2015-05-04T15:00:00\">\r\n
        \       <!-- Valid from 2015-05-04T14:00:00 to 2015-05-04T15:00:00 -->\r\n
        \       <symbol number=\"2\" numberEx=\"2\" name=\"Fair\" var=\"02d\" />\r\n
        \       <precipitation value=\"0\" />\r\n        <!-- Valid at 2[...]
