.row
  .col.s12
    %h1 Schedule appointments for the weather.
    %h5 Get a digital calendar for the rain.

%form#forecast
  .row
    .input-field.col.s12
      %i.mdi-maps-place.prefix
      %input#forecast_location{type: 'text', placeholder: 'Enter your forecast location here'}
      %label{for: 'location'} Location
  .row
    .input-field.col.s12
      %button.waves-effect.waves-light.btn.purple.darken-2{type: 'submit'} Get my calendar

.row
  .col.s12
    #calendar.card.purple.darken-2
      .card-content.white-text
        .card-title Your calendar URL
        %p Copy and paste into your calendar application:
        .input-field
          %i.mdi-action-event.prefix
          %input#calendar_url{type: 'text', onclick: "this.select();"}
