---
http_interactions:
- request:
    method: get
    uri: http://www.yr.no/place/United_Kingdom/England/London/forecast_hour_by_hour.xml
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
      Last-Modified:
      - Sun, 03 May 2015 18:38:25 GMT
      X-Frontendserver:
      - MADMZYRWWW08
    body:
      encoding: UTF-8
      string: "<?xml version=\"1.0\" encoding=\"utf-8\"?>\r\n<weatherdata>\r\n  <location>\r\n
        \   <name>London</name>\r\n    <type>Capital</type>\r\n    <country>United
        Kingdom</country>\r\n    <timezone id=\"Europe/London\" utcoffsetMinutes=\"60\"
        />\r\n    <location altitude=\"25\" latitude=\"51.50853\" longitude=\"-0.12574\"
        geobase=\"geonames\" geobaseid=\"2643743\" />\r\n  </location>\r\n  <credit>\r\n
        \   <!--In order to use the free weather data from yr no, you HAVE to display
        \r\nthe following text clearly visible on your web page. The text should be
        a \r\nlink to the specified URL.-->\r\n    <!--Please read more about our
        conditions and guidelines at http://om.yr.no/verdata/  English explanation
        at http://om.yr.no/verdata/free-weather-data/-->\r\n    <link text=\"Weather
        forecast from yr.no, delivered by the Norwegian Meteorological Institute and
        the NRK\" url=\"http://www.yr.no/place/United_Kingdom/England/London/\" />\r\n
        \ </credit>\r\n  <links>\r\n    <link id=\"xmlSource\" url=\"http://www.yr.no/place/United_Kingdom/England/London/forecast.xml\"
        />\r\n    <link id=\"xmlSourceHourByHour\" url=\"http://www.yr.no/place/United_Kingdom/England/London/forecast_hour_by_hour.xml\"
        />\r\n    <link id=\"overview\" url=\"http://www.yr.no/place/United_Kingdom/England/London/\"
        />\r\n    <link id=\"hourByHour\" url=\"http://www.yr.no/place/United_Kingdom/England/London/hour_by_hour\"
        />\r\n    <link id=\"longTermForecast\" url=\"http://www.yr.no/place/United_Kingdom/England/London/long\"
        />\r\n  </links>\r\n  <meta>\r\n    <lastupdate>2015-05-03T16:38:00</lastupdate>\r\n
        \   <nextupdate>2015-05-04T05:00:00</nextupdate>\r\n  </meta>\r\n  <sun rise=\"2015-05-03T05:29:30\"
        set=\"2015-05-03T20:26:23\" />\r\n  <forecast>\r\n    <tabular>\r\n      <time
        from=\"2015-05-03T20:00:00\" to=\"2015-05-03T21:00:00\">\r\n        <!-- Valid
        from 2015-05-03T20:00:00 to 2015-05-03T21:00:00 -->\r\n        <symbol number=\"1\"
        numberEx=\"1\" name=\"Clear sky\" var=\"01d\" />\r\n        <precipitation
        value=\"0\" />\r\n        <!-- Valid at 2015-05-03T20:00:00 -->\r\n        <windDirection
        deg=\"221.3\" code=\"SW\" name=\"Southwest\" />\r\n        <windSpeed mps=\"10.4\"
        name=\"Fresh breeze\" />\r\n        <temperature unit=\"celsius\" value=\"14\"
        />\r\n        <pressure unit=\"hPa\" value=\"999.1\" />\r\n      </time>\r\n
        \     <time from=\"2015-05-03T21:00:00\" to=\"2015-05-03T22:00:00\">\r\n        <!--
        Valid from 2015-05-03T21:00:00 to 2015-05-03T22:00:00 -->\r\n        <symbol
        number=\"1\" numberEx=\"1\" name=\"Clear sky\" var=\"mf/01n.48\" />\r\n        <precipitation
        value=\"0\" />\r\n        <!-- Valid at 2015-05-03T21:00:00 -->\r\n        <windDirection
        deg=\"221.1\" code=\"SW\" name=\"Southwest\" />\r\n        <windSpeed mps=\"10.0\"
        name=\"Fresh breeze\" />\r\n        <temper[...]
